<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>

      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Women <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/t/women/boots">Boots</a></li>
            <li><a href="/t/women/sandals">Sandals</a></li>
            <li><a href="/t/women/flat-shoes">Flat Shoes</a></li>
            <li><a href="/t/women/high-shoes">High Shoes</a></li>
            <li><a href="/t/women/sport">Sport</a></li>
            <li><a href="/t/women/wellies">Wellies</a></li>
            <li><a href="/t/women/slippers">Slippers</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Men <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/t/men/casual-shoes">Casual Shoes</a></li>
            <li><a href="/t/men/dress-shoes">Dress Shoes</a></li>
            <li><a href="/t/men/work-boots">Work Boots</a></li>
            <li><a href="/t/men/wellies">Wellies</a></li>
          </ul>
        </li>


        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Children <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/t/children/girls-shoes">Girls Shoes</a></li>
            <li><a href="/t/children/girls-shoes">Girls Sport</a></li>
            <li><a href="/t/children/girls-shoes">Girls Boot</a></li>
            <li><a href="/t/children/girls-shoes">Girls Wellies</a></li>
            <li><a href="/t/children/girls-shoes">Boys Shoes</a></li>
            <li><a href="/t/children/girls-shoes">Boys Sport</a></li>
            <li><a href="/t/children/girls-shoes">Boys Boots</a></li>
            <li><a href="/t/children/girls-shoes">Boys Wellies</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accessories <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/t/accessories/bags">Bags</a></li>
            <li><a href="/t/accessories/purses">Purses</a></li>
            <li><a href="/t/accessories/scarves">Scarves</a></li>
            <li><a href="/t/accessories/insoles">Insoles</a></li>
            <li><a href="/t/accessories/laces">Laces</a></li>
            <li><a href="/t/accessories/seasonal">Seasonal</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Top Brands <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/t/top-brands/skechers">Skechers</a></li>
            <li><a href="/t/top-brands/converse">Converse</a></li>
            <li><a href="/t/top-brands/kate-appleby">Kate Appleby</a></li>
            <li><a href="/t/top-brands/escape">Escape</a></li>
            <li><a href="/t/top-brands/zanni-and-co">Zanni &amp; Co</a></li>
            <li><a href="/t/top-brands/lunar">Lunar</a></li>
          </ul>
        </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook>
      <li id="link-to-cart" data-hook>
        <noscript>
          <%= link_to Spree.t(:cart), '/cart' %>
        </noscript>
        &nbsp;
      </li>
      <script>Spree.fetch_cart()</script>
    </ul>
  </div>
</nav>
