<nav class="col-md-12">
  <div id="main-nav-bar" class="navbar">
    <ul class="nav navbar-nav" data-hook>
      <li id="home-link" data-hook><%= link_to Spree.t(:home), spree.root_path %></li>

      <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Women's <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/t/womens/comfort-plus">Comfort Plus</a></li>
            <li><a href="/t/womens/dr-keller">Dr Keller</a></li>
            <li><a href="/t/womens/drillies">Drilleys</a></li>
            <li><a href="/t/womens/featherlites">Featherlites</a></li>
            <li><a href="/t/womens/gezer">Gezer</a></li>
            <li><a href="/t/womens/kate-appleby">Kate Appleby</a></li>
            <li><a href="/t/womens/lunar">Lunar</a></li>
            <li><a href="/t/womens/naturelle">Naturelle</a></li>
            <li><a href="/t/womens/oso-nice">Oso Nice</a></li>
            <li><a href="/t/womens/shapes">Shapes</a></li>
            <li><a href="/t/womens/cscrapbook-slippers">Scrapbook Slippers</a></li>
            <li><a href="/t/womens/spirit">Spirit</a></li>
            <li><a href="/t/womens/tyoti">Tyoti</a></li>
            <li><a href="/t/womens/zanni">Zanni &amp; Co</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/t/womens/other">Other</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Men's <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/t/mens/dicklies">Dickies</a></li>
            <li><a href="/t/mens/dr-keller">Dr Keller</a></li>
            <li><a href="/t/mens/no-risk">No Risk</a></li>
            <li><a href="/t/mens/response">Response</a></li>
            <li><a href="/t/mens/shoe-avenue">Shoe Avenue</a></li>
            <li><a href="/t/mens/shoe-tree">Shoe Tree</a></li>
            <li><a href="/t/mens/trade-safe">Trade Safe</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Women/Men <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/t/mens-slash-womens/dunlop">Dunlop</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/t/mens-slash-womens/other">Other</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Girl's <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/t/girls/chatterbox">Chatterbox</a></li>
            <li><a href="/t/girls/claudia">Claudia</a></li>
            <li><a href="/t/girls/gezer">Gezer</a></li>
            <li><a href="/t/girls/heart-and-sole">Heart &amp; Sole</a></li>
            <li><a href="/t/girls/mercury">Mercury</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/t/girls/other">Other</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Boy's <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/t/boys/chatterbox">Chatterbox</a></li>
            <li><a href="/t/boys/renegade">Renegade Sole</a></li>
            <li><a href="/t/boys/xl">XL</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/t/boys/other">Other</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Accessories <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/t/accessories/other">Other</a></li>
          </ul>
        </li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Other <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/t/other/other">Other</a></li>
          </ul>
        </li>

    </ul>
    <ul class="nav navbar-nav navbar-right" data-hook>
      <li id="link-to-cart" data-hook>
        <noscript>
          <%= link_to Spree.t(:cart), '/cart' %>
        </noscript>
        &nbsp;
      </li>
      <script>Spree.fetch_cart()</script>
    </ul>
  </div>
</nav>
