<!--<div data-hook="homepage_products">
  <% cache(cache_key_for_products) do %>
    <% render :partial => 'spree/shared/products', :locals => { :products => @products } %>
  <% end %>
</div>-->

<!--<div style="background: #fff;" class="jumbotron">
  <h1>Welcome to Shoo-Niverse!</h1>
</div>
-->
<div style="margin-top: 3%" class="row">
  <div class="col-md-8" style="margin-top:1%">
    <a href="#" class="thumbnail">
      <img src="https://cldup.com/s9HcCBlmmP.jpg" alt="...">
    </a>
  </div>
  <div class="col-md-4">
    <a href="#" class="thumbnail">
      <img src="https://cldup.com/-f-3g1gVd5.jpg" alt="...">
    </a>
  </div>
  <div class="col-md-4">
    <a href="#" class="thumbnail">
      <img src="https://cldup.com/WOtG0VFwUz.jpg" alt="...">
    </a>
  </div>
</div>


<div style="background: #fff;" class="jumbotron">
  <h1>Welcome to Shoo-Niverse!</h1>
  <h4>We're based in Bailieborough Co. Cavan, pop in and have a look at our great selection of shoes for all the family</h4>
  <div class="blank15"></div>
  <button class="btn btn-primary center-block">Shop Now</button>
</div>

<div class="row">
	<div class="col-md-3"><a href="#"><img src="https://cldup.com/nxeWNvQQle.png"></a></div>
	<div class="col-md-3"><a href="#"><img style="margin-top:25%" src="https://cldup.com/Fk_HiZsmQa.jpg"></a></div>
	<div class="col-md-3"><a href="#"><img style="margin-top:25%" src="https://cldup.com/0cmhzJHH_0.png"></a></div>
	<div class="col-md-3"><a href="#"><img style="margin-top:10%" src="https://cldup.com/XSYpwJVg28.png"></a></div>
</div>

<div class="blank15"></div>


<div class="clearfix">
	<h2 style="text-align:center;">Xmas Gift Guide</h2>
	<div style="height:3px;border-top: 1px solid #1c5c92;width:20%;margin: 0 auto;border-bottom: 1px solid #1c5c92;"></div>
</div>

<div class="blank15"></div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cldup.com/-f-3g1gVd5.jpg" alt="...">
      <div class="caption">
        <h3>Christmas Idea 1</h3>
        <p>paragraph text about product 1</p>
        <p><a href="#" class="btn btn-primary" role="button">Show me</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cldup.com/-f-3g1gVd5.jpg" alt="...">
      <div class="caption">
        <h3>Christmas Idea 2</h3>
        <p>paragraph text about product 2</p>
        <p><a href="#" class="btn btn-primary" role="button">Show me</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://cldup.com/-f-3g1gVd5.jpg" alt="...">
      <div class="caption">
        <h3>Christmas Idea 3</h3>
        <p>paragraph text about product 3</p>
        <p><a href="#" class="btn btn-primary" role="button">Show me</a></p>
      </div>
    </div>
  </div>
</div>
<div class="blank15"></div><div class="blank15"></div>

<div class="row">
	<h2 style="text-align:center;">Newest Arrivals</h2>
	<div style="height:3px;border-top: 1px solid #1c5c92;width:20%;margin: 0 auto;border-bottom: 1px solid #1c5c92;"></div>
</div>
<div class="blank15"></div>
<div class="row">
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://cldup.com/0cmhzJHH_0.png" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://cldup.com/0cmhzJHH_0.png" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://cldup.com/0cmhzJHH_0.png" alt="...">
    </a>
  </div>
  <div class="col-xs-6 col-md-3">
    <a href="#" class="thumbnail">
      <img src="https://cldup.com/0cmhzJHH_0.png" alt="...">
    </a>
  </div>
</div>

<div class="blank15"></div><div class="blank15"></div>

<div class="row">
	<div class="col-md-12">
		<h2 style="text-align:center;">Contact Us</h2>
		<div style="height:3px;border-top: 1px solid #1c5c92;width:20%;margin: 0 auto;border-bottom: 1px solid #1c5c92;"></div>
	</div>
	<div class="blank15"></div>
	<div id="cLeft" class="col-md-6">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1174.948563339808!2d-6.969371416910217!3d53.915803939701576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4860aa84b7450729%3A0x2c2f31966342b027!2sBailie+Hotel!5e0!3m2!1sen!2suk!4v1448319600489" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
	</div>
	<div id="cRight" class="col-md-6">
		<h3>Shoo-Niverse</h3>
		<h5>Main Street Bailieborough,</h5>
		<h5>Co. Cavan</h5>
		<a target="_blank" href="https://www.facebook.com/shooniverse/?fref=ts"><img style="width: 100px;" src="https://cldup.com/tQWkl8XHwX.png"></a>
	</div>
</div>












